
//Common Header------------------------------

$navPad: 2.2em;

$color-bg:      #2f313c;
$txt-color:     #fff;
$txt-Fsize:     2em;

$header-Ffamily:verdana, sans-serif;
$header-Fsize:  5em;
$pages:( 
    'home':     #ffd256,
    'gallery':  #fd685b,
    'about':    #8fd2d1,
    'contact':  #019dcd,
);
