//common variables-----in px-----------------
$max_width: 1024;
$min_width: 250;

//Common Header------------------------------

$navPad: 2.2em;

$txt-color:         #292929;
$txt-Fsize:           2em;
$nav-color:         #f9f9f9;

$header-txt-color:  #f9f9f9;
$header-Ffamily:      verdana, sans-serif;
$header-Fsize:        3em;

$footer-bg-color:   #2f313c;
$footer-H2-size:      1.1rem;

$pages:( 
    'home':     #fd685b,
    'gallery':  #ffd256,
    'about':    #8fd2ae,
    'contact':  #019dcd,
);
