
$debug: false ;

@import  "normalize";       // Normalize css
@import  "debug";           // Repairs and stuff
@import  "mix_fun";         // Mixins and Funkcions
@import  "grafic";          // Colors, typography
@import  "C_Variables";     // Content Variables


@each $page, $color in $pages {
    
    .#{$page} {
        body{
            background: red;
        }
        header {
            max-width: $max_width;
            nav {
                text-align: center;
                min-width: responsive(250,$max_width,em);
            }
            .active{
                color: darken($color, 15% );
            }
            .shadow{
                text-shadow: 2px 1px 2px darken($color, 30%);
            }
            ul{
                background-color: $nav_color;
                padding: 1.5% 0;
                margin: 0 auto;
            }
            li{
                display:inline-block;
                list-style: none;
            }
            a{
                text-decoration: none;
                list-style: none;
                align-items: center;
                padding: $navPad;
                color: lighten( $footer-bg-color, 10);
            }
        }
        main{
            background-color: $color;
            color: $txt-color;
        }
        h1{
            border-top: 0.1rem solid darken( $color, 30% );
            color: $header-txt-color;
            padding: 5%;
            margin: 0;
            vertical-align: center;
            
            text-transform: uppercase;
            text-align: center;
            
            font-weight: bold;
            font-family: $header-Ffamily;
            font-size: $header-Fsize;
        }
    }
    footer{
        max-width: 100%;
        margin: 0 auto;
        background-color: $footer-bg-color;
        color: $nav-color;
        @include clearfix;
        h2{
            text-transform: uppercase;
            font-weight: normal;
            font-size: $footer-H2-size;
            margin: 0 auto;
            font-weight: bold;
            color: darken($footer-bg-color , 4);
        }
        article{
            text-align: center;
            width: 80%;
            margin: 0 auto;
            padding: 1rem;
        }
        aside{
            padding: 1rem;
            width: 80%;
            margin:auto;
            a{
                font-size: smaller;
                color:lighten($footer-bg-color,50);
                margin: 0 auto;
            }
        }
    }
}